*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-height: 100%;
}

a {
  all: unset;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --clr-grey: #aaaaaa;
  --clr-dark: #555555;
  --clr-main: #f1ec40;
  --clr-white: #ffffff;
  --txt-shadow: 1px 0 0 var(--clr-dark), -1px 0 0 var(--clr-dark),
    0 1px 0 var(--clr-dark), 0 -1px 0 var(--clr-dark), 1px 1px var(--clr-dark),
    -1px -1px 0 var(--clr-dark), 1px -1px 0 var(--clr-dark),
    -1px 1px 0 var(--clr-dark);
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --border-raduis: 5px;
  --max-width: 500px;
  --font-family: "Roboto", sans-serif;
  font-family: var(--font-family);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: url("images/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.main-title {
  text-align: center;
  margin: 0.5rem auto;
  color: var(--clr-white);
  text-shadow: var(--txt-shadow);
  width: 90%;
  max-width: var(--max-width);
}

.main-subtitle {
  text-align: center;
  margin: 0.5rem auto;
  font-weight: 400;
  color: var(--clr-white);
  text-shadow: var(--txt-shadow);
  width: 90%;
  max-width: var(--max-width);

  a {
    color: var(--clr-main);
    text-shadow: var(--txt-shadow);
    text-decoration: underline;
  }
}

.list-container {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: var(--max-width);
}

.container {
  position: relative;
  margin: 0.5rem 0;
  background-color: var(--clr-white);
  width: 100%;
  padding: 24px 16px;
  border-radius: var(--border-raduis);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0;

  img {
    height: 20px;
    margin-right: 0.5rem;
  }
}

.container-title {
  color: var(--clr-dark);
  text-align: center;
  width: 100%;
}

.add-btn {
  margin: 0.5rem auto;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    filter: var(--drop-shadow);
  }

  p {
    font-size: 1.25rem;
    color: var(--clr-main);
    text-shadow: var(--txt-shadow);
  }
}

.cta {
  width: 160px;
  height: 55px;
  font-size: 20px;
  color: var(--clr-dark);
  font-weight: 700;
  border-radius: var(--border-raduis);
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-main);
  filter: var(--drop-shadow);
  margin: 1rem 0;
  text-transform: uppercase;
}

.error {
  color: var(--clr-main);
  text-shadow: var(--txt-shadow);
  margin: 1rem 0;
}

.btn-small {
  height: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5rem auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.form-row-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  margin-left: 8px;

  &:first-of-type {
    margin-left: 0;
  }

  label {
    color: var(--clr-white);
    text-shadow: var(--txt-shadow);
    font-size: 20px;
    width: 100%;
  }

  input {
    border-radius: var(--border-raduis);
    outline: none;
    border: none;
    height: 30px;
    filter: var(--drop-shadow);
    padding: 0 8px;
    width: 100%;
  }

  .small {
    font-size: 15px;
  }
}
