@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-height: 100%;
}

a {
  all: unset;
}

:root {
  --clr-grey: #aaaaaa;
  --clr-dark: #555555;
  --clr-main: #f1ec40;
  --clr-white: #ffffff;
  --txt-shadow: 1px 0 0 var(--clr-dark), -1px 0 0 var(--clr-dark),
    0 1px 0 var(--clr-dark), 0 -1px 0 var(--clr-dark), 1px 1px var(--clr-dark),
    -1px -1px 0 var(--clr-dark), 1px -1px 0 var(--clr-dark),
    -1px 1px 0 var(--clr-dark);
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --border-raduis: 5px;
  --max-width: 500px;
  --font-family: "Roboto", sans-serif;
  font-family: var(--font-family);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: url("images/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  min-height: 100vh;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title {
  text-align: center;
  margin: 0.5rem auto;
  color: var(--clr-white);
  text-shadow: var(--txt-shadow);
  width: 90%;
  max-width: var(--max-width);
}

.main-subtitle {
  text-align: center;
  margin: 0.5rem auto;
  font-weight: 400;
  color: var(--clr-white);
  text-shadow: var(--txt-shadow);
  width: 90%;
  max-width: var(--max-width);
}

.main-subtitle a {
  color: var(--clr-main);
  text-shadow: var(--txt-shadow);
  text-decoration: underline;
}

.list-container {
  margin: 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  max-width: var(--max-width);
}

.container {
  position: relative;
  margin: 0.5rem 0;
  background-color: var(--clr-white);
  width: 100%;
  padding: 24px 16px;
  border-radius: var(--border-raduis);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-title {
  color: var(--clr-dark);
  text-align: center;
  width: 100%;
}

.add-btn {
  margin: 0.5rem auto;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-btn img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  -webkit-filter: var(--drop-shadow);
          filter: var(--drop-shadow);
}

.add-btn p {
  font-size: 1.25rem;
  color: var(--clr-main);
  text-shadow: var(--txt-shadow);
}

.cta {
  width: 160px;
  height: 55px;
  font-size: 20px;
  color: var(--clr-dark);
  font-weight: 700;
  border-radius: var(--border-raduis);
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-main);
  -webkit-filter: var(--drop-shadow);
          filter: var(--drop-shadow);
  margin: 1rem 0;
  text-transform: uppercase;
}

.error {
  color: var(--clr-main);
  text-shadow: var(--txt-shadow);
}
/*# sourceMappingURL=index.css.map */