.session-summary-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0;

  img {
    height: 20px;
    margin-right: 0.5rem;
  }
}
