.profile-item-container {
  position: relative;
  margin: 0.5rem 0;
  background-color: var(--clr-white);
  width: 100%;
  padding: 16px 24px;
  border-radius: var(--border-raduis);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 0;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0.25rem 0;
  }
}
