.exercise.container {
  justify-content: space-between;
}

.exercise-item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-of-type {
    width: 40%;
  }
}

.exercise-details {
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
  color: var(--clr-dark);
  font-size: 15px;
}

.exercise-btn-container {
  position: absolute;
  top: 0;
  right: 0;

  img {
    height: 20px;
  }

  button {
    border: none;
    background-color: var(--clr-white);
    margin-right: 0.5rem;
  }
}
