nav {
  width: 100%;
  padding: 0.5rem 0;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container {
  width: 90%;
  max-width: var(--max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  height: 125px;
}

.menu-opener {
  background-color: var(--clr-dark);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 1px solid var(--clr-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu-opener img {
  height: 33px;
}

.nav-opened {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 300ms 200ms;
  transition: -webkit-transform 300ms 200ms;
  transition: transform 300ms 200ms;
  transition: transform 300ms 200ms, -webkit-transform 300ms 200ms;
}

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  height: 100px;
  width: 100px;
  border: 1px solid var(--clr-main);
  background-color: var(--clr-dark);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-main);
  text-align: center;
  margin-right: 8px;
  font-size: 15px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms 0ms;
  transition: -webkit-transform 150ms 0ms;
  transition: transform 150ms 0ms;
  transition: transform 150ms 0ms, -webkit-transform 150ms 0ms;
}

.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.show .nav-item {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms 250ms;
  transition: -webkit-transform 150ms 250ms;
  transition: transform 150ms 250ms;
  transition: transform 150ms 250ms, -webkit-transform 150ms 250ms;
}
/*# sourceMappingURL=navbar.css.map */